[Unit]
Description=Apache Kafka
[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/kafka/kafka_2.13-3.3.1/bin/kafka-server-start.sh /opt/kafka/kafka_2.13-3.3.1/config/server3.properties
ExecStop= /opt/kafka/kafka_2.13-3.3.1/bin/kafka-server-stop.sh
[Install]
WantedBy=multi-user.target
